<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>first_name</th>
      <th>id</th>
      <th>last_name</th>
      <th>can_access_closed</th>
      <th>is_closed</th>
      <th>sex</th>
      <th>bdate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Никита</td>
      <td>21583247</td>
      <td>Апраксин</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>27.8.1995</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Вадим</td>
      <td>68213087</td>
      <td>Джаббаров</td>
      <td>False</td>
      <td>True</td>
      <td>2</td>
      <td>24.4.1996</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Мухамед</td>
      <td>173499778</td>
      <td>Калмыков</td>
      <td>False</td>
      <td>True</td>
      <td>2</td>
      <td>20.3.1996</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Заведения</td>
      <td>233028941</td>
      <td>Зеленограда</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>14.4.2000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Андрей</td>
      <td>62526081</td>
      <td>Федюшин</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>5.3.1996</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Ратмир</td>
      <td>72500726</td>
      <td>Руденко</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>15.7.1997</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Fennec</td>
      <td>230776434</td>
      <td>Fox</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>11.11.1994</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Кхайруллаев</td>
      <td>335747774</td>
      <td>Эркин</td>
      <td>False</td>
      <td>True</td>
      <td>2</td>
      <td>16.1.1995</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Алексей</td>
      <td>16050560</td>
      <td>Мальцев</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>21.1.1995</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Михаил</td>
      <td>23885022</td>
      <td>Овчаренко</td>
      <td>True</td>
      <td>True</td>
      <td>2</td>
      <td>16.4.1995</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Иван</td>
      <td>33101607</td>
      <td>Мельников</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>8.6.1995</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Никита</td>
      <td>227292168</td>
      <td>Коньков</td>
      <td>False</td>
      <td>True</td>
      <td>2</td>
      <td>28.5.1998</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Андрей</td>
      <td>469361435</td>
      <td>Арсов</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>26.9.2000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Тимофей</td>
      <td>70757728</td>
      <td>Петухов</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>12.1.1996</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Родион</td>
      <td>134639142</td>
      <td>Козлюк</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>1.12.1999</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Ильдар</td>
      <td>17796402</td>
      <td>Салахов</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>25.1.1995</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Андрей</td>
      <td>38396246</td>
      <td>Галястов</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>24.3.1995</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Павел</td>
      <td>51434861</td>
      <td>Василевский</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>7.6.1995</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Никита</td>
      <td>54940676</td>
      <td>Белых</td>
      <td>False</td>
      <td>True</td>
      <td>2</td>
      <td>10.11.1996</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Денис</td>
      <td>56092707</td>
      <td>Мурашко</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>7.3.1996</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Евгений</td>
      <td>95256522</td>
      <td>Чевелёв</td>
      <td>False</td>
      <td>True</td>
      <td>2</td>
      <td>8.6.1997</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Павел</td>
      <td>215673923</td>
      <td>Барков</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>19.11.1995</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Иван</td>
      <td>320770734</td>
      <td>Серединцев</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>4.5.1997</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Олег</td>
      <td>497152991</td>
      <td>Никонов</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>29.7.2000</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Александр</td>
      <td>23732330</td>
      <td>Ведищев</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>5.1.1995</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Данила</td>
      <td>98261121</td>
      <td>Синьгаев</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>21.3.1996</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Данил</td>
      <td>103419656</td>
      <td>Шарандин</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>11.3.1997</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Artsoni</td>
      <td>388666445</td>
      <td>K Singh</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>20.6.1996</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Фрол</td>
      <td>76544401</td>
      <td>Милов</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>23.7.1996</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Нота</td>
      <td>212889802</td>
      <td>До</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>12.6.1995</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Finn</td>
      <td>479529996</td>
      <td>Coldwater</td>
      <td>False</td>
      <td>True</td>
      <td>2</td>
      <td>22.2.1997</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Янчик</td>
      <td>476171254</td>
      <td>Степаненко</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>7.4.1997</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Сергей</td>
      <td>112453224</td>
      <td>Круглов</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>19.7.1996</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Валерiй</td>
      <td>18912492</td>
      <td>Чумаковъ</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>8.7.1999</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Маралёв</td>
      <td>176118342</td>
      <td>Максим</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>11.11.1998</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Влад</td>
      <td>51663309</td>
      <td>Пащенко</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>15.10.1999</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Сема</td>
      <td>15536958</td>
      <td>Малофеев</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>14.4.1997</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Анатолий</td>
      <td>136739214</td>
      <td>Владимиров</td>
      <td>True</td>
      <td>True</td>
      <td>2</td>
      <td>7.12.1994</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Андрей</td>
      <td>62526081</td>
      <td>Федюшин</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>5.3.1996</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Анатолий</td>
      <td>136739214</td>
      <td>Владимиров</td>
      <td>True</td>
      <td>True</td>
      <td>2</td>
      <td>7.12.1994</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Анатолий</td>
      <td>136739214</td>
      <td>Владимиров</td>
      <td>True</td>
      <td>True</td>
      <td>2</td>
      <td>7.12.1994</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Василий</td>
      <td>23948305</td>
      <td>Волоховский</td>
      <td>False</td>
      <td>True</td>
      <td>2</td>
      <td>20.9.1995</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Алексей</td>
      <td>16050560</td>
      <td>Мальцев</td>
      <td>True</td>
      <td>False</td>
      <td>2</td>
      <td>21.1.1995</td>
    </tr>
  </tbody>
</table>